.footer {
  font-family: "JPFont", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  color: #15151e;
  -webkit-text-size-adjust: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
.footer *,
.footer :after,
.footer :before {
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.footer ol,
.footer ul {
  list-style: none;
}
.footer a {
  text-decoration: none;
}
.footer button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: none;
  background: none;
  cursor: pointer;
}
.footer a,
.footer button,
.footer label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.footer a,
.footer button {
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer a:active,
.footer button:active {
  opacity: 0.5;
  -webkit-transform: translateY(0.8vw);
  transform: translateY(0.8vw);
}
.footer img {
  border: none;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
.footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 18.6666666667vw;
  background: #e00400;
}
.footer-btn a,
.footer-btn button {
  display: block;
  width: 24.8vw;
}
.footer-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 101;
}
.footer-menu.is-show .footer-menu__overlay {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.footer-menu.is-show .footer-menu__nav {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.footer-menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 102;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: 0;
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
}
.footer-menu__nav {
  position: fixed;
  bottom: 10.6666666667vw;
  right: 0;
  z-index: 103;
  border-radius: 8vw 0 0 8vw;
  width: 77.8666666667vw;
  max-height: calc(100% - 21.3333333333vw);
  background: #e00400 url("/FooterIcons/footer_bg.png");
  background-size: 10.4vw;
  -webkit-box-shadow: -0.8vw 0.8vw 2.6666666667vw rgba(0, 0, 0, 0.45);
  box-shadow: -0.8vw 0.8vw 2.6666666667vw rgba(0, 0, 0, 0.45);
  overflow-y: auto;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
}
.footer-menu__inner {
  padding: 9.3333333333vw 8vw 12vw;
}
.footer-link {
  font-size: 4.8vw;
  font-weight: 500;
  color: #fff;
}
.footer-link__item ~ li {
  margin-top: 1.0666666667vw;
}
.footer-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 9.6vw;
}
.footer-link a:after {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -2.1333333333vw;
  width: 7.7333333333vw;
  height: 4.5333333333vw;
  background: url("/FooterIcons/footer_arrow.svg");
  background-size: contain;
  content: "";
}
.footer-sub {
  margin-top: 3.2vw;
  font-size: 3.7333333333vw;
  font-weight: 500;
  color: #fff;
}
.footer-sub a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 8vw;
}
.footer-sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 5.8666666667vw;
  padding: 0 1.3333333333vw;
}
.footer-sns__item {
  width: 7.4666666667vw;
}
